{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Crear formulario</h1>

<div class="container">



{% for flashMessage in app.session.flashBag.get('errors') %}
    <div class="alert alert-danger">
        {{ flashMessage }}
    </div>
{% endfor %}



        {{ form_start(form) }}
        
        <div class="form-group">
            {{ form_row(form.name) }}
            {{ form_row(form.active) }}
            {{ form_row(form.cargos) }}
        </div>
        


        <div class="form-group">
            <div style="margin: 30px"></div>
                <ul class="ttrfieldsf" data-prototype="{{ form_widget(form.ttrfieldsf.vars.prototype)|e('html_attr') }}">
                    {{ form_row(form.ttrfieldsf) }}
                </ul> 
            <div style="margin: 30px"></div>
            <input class="btn btn-primary" type="submit" value="Guardar cambios" />
        </div>

        {{ form_end(form)  }}





</div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/agregar_campos.js?v=1') }}"></script>
{% endblock %}